.row1 {
  margin-left: 20px;
  color: #fff;
}
.posters1 {
  display: flex;
  padding: 20px;
  overflow-x: scroll;
  overflow-y: hidden;
}
.posters1::-webkit-scrollbar {
  display: none;
}
.poster1 {
  max-height: 100px;
  margin-right: 10px;
}
